#worldOuter {
	position: relative;
	display: inline-block;
	top: 27px;
	opacity: 0;
}

#map {
	position: relative;
	font-family: "Courier New", Courier, monospace;
	font-size: 80%;
	border: 1px solid black;
	overflow: hidden;
	display: inline-block;
	line-height: 8px;
	letter-spacing: 1px;
	color: #999;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#map .landmark {
	position: relative;
	font-weight: bold;
	color: black;
	line-height: 0px; /* Hack to prevent the boldness from increasing the row's line-height. I hope it works in all browsers... */
}

#bagspace-world {
	position: absolute;
	cursor: default;
	top: 6px;
	padding: 12px 10px 4px 10px;
	width: 200px;
	opacity: 0;
}

#backpackSpace {
	position: absolute;
	top: -6px;
	right: 10px;
	background-color: white;
	z-index: 20;
}

#backpackTitle {
	position: absolute;
	top: -6px;
	left: 10px;
	background-color: white;
	z-index: 20;
}

#healthCounter {
	position: relative;
	top: 6px;
	left: 10px;
	background-color: white;
	z-index: 20;
	display: inline-block;
}

div.supplyItem {
	display: inline-block;
	border: 1px solid #999;
	float: left;
	margin: 0px 5px 6px 0px;
	padding: 0 5px;
	cursor: default;
}